script(src="https://code.jquery.com/jquery-3.3.1.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.js")
script(src="js/vendors.js")
script(scr="js/fullSize.js")
script(src="js/main.js")