- 
	var menu_items = [
		{"name" : "Home", "link" : "/"},
		{"name" : "Blog", "link" : "/blog.html"},
		{"name" : "Portfolio", "link" : "/portfolio.html"},
		{"name" : "Contacts", "link" : "/contacts.html"}
	]

-
	var posts_data = [
		{
		'title' : 'Aenean tempus erat mi, in iaculis arcu pellentesque quis',
		'subtitle' : 'Quisque faucibus neque tortor, eget porta nulla aliquet quis',
		'link' : '/post.html',
		'author' : 'Ostap Hyba',
		'author_link' : 'https://www.facebook.com/OstapHyba',
		'date' : '20-04-2018',
		'content' : '\
			Curabitur ut magna suscipit mauris ultricies blandit. Integer bibendum turpis dui, ut ultrices orci blandit sit amet. Donec nec semper est. Fusce egestas orci eget libero luctus consectetur. Quisque suscipit massa lorem, ac semper purus consequat ac. Duis ac finibus enim. Ut ultricies tempus urna. Ut mollis nisi nec gravida commodo. In viverra justo sed risus dapibus ultrices eu sit amet turpis. Aenean id sapien ante. Vivamus sit amet dapibus nibh, ullamcorper laoreet justo. Ut vitae orci id lectus mattis congue at id nisi. Ut lacinia ligula sed sem interdum dictum. Praesent eleifend aliquam mauris eget fermentum.\
			\
			Sed dolor lectus, tempus vel fringilla a, condimentum ut quam. Praesent id nisl ut lorem malesuada dictum. Curabitur id placerat sem. Proin in laoreet nunc. Suspendisse nec ex ut nibh lobortis suscipit. Vestibulum non rhoncus est, vitae ultrices risus. Etiam in justo neque. Donec pellentesque ac massa euismod commodo. Sed sit amet felis ac sapien aliquet sagittis. Sed suscipit ex a nibh vehicula, ut hendrerit nisi iaculis. In consequat orci ac dui dignissim, vel semper quam pellentesque. Curabitur vitae ipsum pretium, accumsan diam volutpat, dapibus ex.\
		'
		},
		{
		'title' : 'Ut vitae orci id lectus mattis congue at id nisi',
		'link' : '/post.html',
		'author' : 'Ostap Hyba',
		'author_link' : 'https://www.facebook.com/OstapHyba',
		'date' : '18-04-2018',
		'content' : '\
			Curabitur ut magna suscipit mauris ultricies blandit. Integer bibendum turpis dui, ut ultrices orci blandit sit amet. Donec nec semper est. Fusce egestas orci eget libero luctus consectetur. Quisque suscipit massa lorem, ac semper purus consequat ac. Duis ac finibus enim. Ut ultricies tempus urna. Ut mollis nisi nec gravida commodo. In viverra justo sed risus dapibus ultrices eu sit amet turpis. Aenean id sapien ante. Vivamus sit amet dapibus nibh, ullamcorper laoreet justo. Ut vitae orci id lectus mattis congue at id nisi. Ut lacinia ligula sed sem interdum dictum. Praesent eleifend aliquam mauris eget fermentum.\
			\
			Sed dolor lectus, tempus vel fringilla a, condimentum ut quam. Praesent id nisl ut lorem malesuada dictum. Curabitur id placerat sem. Proin in laoreet nunc. Suspendisse nec ex ut nibh lobortis suscipit. Vestibulum non rhoncus est, vitae ultrices risus. Etiam in justo neque. Donec pellentesque ac massa euismod commodo. Sed sit amet felis ac sapien aliquet sagittis. Sed suscipit ex a nibh vehicula, ut hendrerit nisi iaculis. In consequat orci ac dui dignissim, vel semper quam pellentesque. Curabitur vitae ipsum pretium, accumsan diam volutpat, dapibus ex.\
		'
		}
	]

-
	var post = posts_data[0]