mixin page_header_medium(title, subtitle, image_url, overlay_class)
	header(class= "fullhead", style= "background-image: url('"+image_url+"')")
		div(class= overlay_class)
		div(class= "container")
			div(class= "row")
				div(class= "col-lg-8 col-md-10 mx-auto")
					div(class= "fullhead-content")
						h1(class= "fullhead-content-title")= title
						h3(class= "fullhead-content-subtitle")= subtitle

