extends base/page.pug

block title
	+title("Blog")

block page-header

	+page_header_medium("Title", "Subtitle", "pictures/blogging-business-coffee-34601.jpg", "overlay")

block page-content
	
	div.row
		div(class= "col-lg-8 col-md-10 mx-auto")
			each post in posts_data
				+post_preview_element(
					post.title,
					post.subtitle,
					post.link,
					post.date,
					post.author,
					post.author_link,
					post.content
				)