include ../../project-settings.pug
include ../../mixins/mixins.pug

doctype html
html
  head(lang="en")
    include ../../metatags.pug
    block title
        +title("Main")
    include ../../styles.pug
    block head
  body(class= "body")
    include ../../svg.pug

    block content

    block footer

    include ../../scripts.pug

    block post-scripts
