extends base.pug

block content
	include ../../sections/top-menu.pug

	block page-header

	block page-content-wrapper
		div(class= "main-content")
			block page-content

	block page-footer

block footer
	include ../../sections/footer.pug